<meta charset="utf-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- if .Description }}
  <meta name="description" content="{{ .Description | plainify }}">
{{- end }}

{{- $styles := slice "css/vars.css" "css/main.css" "css/nav.css" -}}
{{- range $styles }}
  {{- with resources.Get . }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{- end }}
{{- end }}

{{- with resources.Get "css/syntax-light.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: light)">
{{- end }}

{{- with resources.Get "css/syntax-dark.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: dark)">
{{- end }}

{{ $noop := .WordCount }}
{{ if .Page.Store.Get "hasMath" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.css">
{{ end }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
